<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 사용에 필요한 환경설정 -->
<!-- root-context.xml 파일에 mybatis부분에 참고하면 -->
<!-- configLocation, mapperLocations 부분의 경로/파일명을 참고 -->
<!-- 파일이 없거나, 경로가 잘못되면 오류 -->
<!-- configLocation(환경파일의 위치) -->
<!-- mapperLocations(mapper 파일의 위치)==>SQL가 들어있는 파일 -->

<configuration></configuration>